.header {
  text-align: center;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 930px;
}

.todos--item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  padding: 0.3rem;
  gap: 10px;
  margin-top: -1px;
}

.todos--item--title {
  flex: 1 1 auto;
  flex-basis: 100%;
}

.todos--item--button {
  flex: 0 0 1.5rem;
}

.add-item-form {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.add-item-form > input {
  flex: 1 1 auto;
  padding: 0.5rem;
}

.add-item-form > button {
  flex: 0 0 2rem;
  margin-left: 0.25rem;
}

.summary--item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  gap: 10px;
  margin-top: -1px;
  padding: 0.1rem;
}

.summary--item--tasks-left {
  margin-left: 0.7rem;
  padding: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 1rem;
}

.summary--item--button {
  cursor: pointer;
  color: rgb(83, 83, 83);
  padding: 0.3rem 0.5rem;
  margin-top: 1px;
  border: 1px solid white;
}

.summary--item--button-active {
  border: 1px solid rgb(83, 83, 83);
}
