@media only screen and (min-width: 760px) {
  /*********************
    * Header
    *********************/
    .hamburger {
      display: none;
    }

   /*********************
    * Navigation
    *********************/
  .navigation {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7a969b+0,394648+100 */
    background: #ad343e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a5595f 0%, #ad343e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a5595f 0%, #ad343e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a5595f 0%, #ad343e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a969b', endColorstr='#394648', GradientType=0);
    /* IE6-9 */

    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .navigation li a {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 2%;
    text-align: center;
    text-indent: 0;
  }
}

.navigation li.needs-auth {
  display: none;
}

.navigation li.needs-auth--authorized {
  display: block;
}

.navigation li.no-auth--authorized {
  display: none;
}
